body {
    background-color: #000000;
    font-family: 'roboto';
}

header {
	background: #BBBBBB;
	padding: 20px 0;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

.caixa img {
    width: 30%;
}

nav {
	position: absolute;
	top: 110px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
	transition: 0.3s;
}

nav a:hover {
	color: #C2B15E;
	text-shadow: 2px 2px 4px black;
}

#banner {
    width: 100%;
    opacity: 0.4;
}

.principal {
    background-color: #CCCCCC;
    padding: 30px;
    margin: 50px;
}

.titulo-principal {
    padding-left: 50px;
    color: #FFFFFF;
}

p {
    text-align: center;
}

em strong {
    color: #FF0000;
}

#missao {
    font-size: 20px;
}

.itens {
    font-style: italic;
}

.beneficios {
    background: #FFFFFF;
    padding: 20px;
    margin: 50px;
}

.subtitulos {
    text-align: center;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.img-beneficios {
    width: 50%;
}